# Facebook Configuration
# Comma separated list of Facebook pages
#FACEBOOK_PAGE_URL=https://www.facebook.com/your-restaurant-page
FACEBOOK_PAGE_URLS=https://www.facebook.com/your-restaurant-page,https://www.facebook.com/another-page

# Google Chat Configuration
GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/YOUR_SPACE/messages?key=YOUR_KEY

# Application Settings
SCREENSHOT_DIR=./screenshots
LOG_LEVEL=INFO
